<template>
  <v-container>
    <Recommendation class="mb-7" :books="books"/> 
    <BookList :books="books" />
  </v-container>
</template>

<script>
import Recommendation from "../components/Recommendation";
import BookList from "../components/BookList";
import { db } from "../firebase";

export default {
  data() {
    return {
      books: [],
    };
  },
  firestore() {
    return {
      books: db.collection("books"),
    };
  },
  components: {
    Recommendation,
    BookList
  },
};
</script>
