<template>
  <div>
    <v-data-iterator
      :items="books"
      :items-per-page="itemsPerPage"
      :page="page"
      :search="search"
      :group-by="group"
      :group-desc="groupDesc"
      hide-default-footer
    >
      <template v-slot:header>
        <v-toolbar dark color="blue darken-3" class="mb-1">
          <v-text-field
            v-model="search"
            clearable
            flat
            solo-inverted
            hide-details
            prepend-inner-icon="mdi-magnify"
            label="Search"
          ></v-text-field>
          <template v-if="$vuetify.breakpoint.mdAndUp">
            <v-spacer></v-spacer>
            <v-select
              v-model="groupBy"
              :items="keys"
              flat
              solo-inverted
              hide-details
              prepend-inner-icon="mdi-book"
              label="Group by"
            ></v-select>
            <v-spacer></v-spacer>
            <v-btn-toggle v-model="groupDesc" mandatory>
              <v-btn large depressed color="blue" :value="false">
                <v-icon>mdi-arrow-up</v-icon>
              </v-btn>
              <v-btn large depressed color="blue" :value="true">
                <v-icon>mdi-arrow-down</v-icon>
              </v-btn>
            </v-btn-toggle>
          </template>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="
              showForm = true;
              forСreating = true;
            "
          >
            <v-icon class="mr-2">mdi-book-plus</v-icon>
            Add book
          </v-btn>
        </v-toolbar>
      </template>

      <template v-slot:default="props">
        <v-row justify="center" class="mt-3">
          <v-col
            v-for="item in props.items"
            :key="item.id"
            cols="12"
            sm="8"
            md="8"
            lg="8"
          >
            <v-card>
              <v-card-title class="subheading font-weight-bold">
                {{ item.name }}

                <v-spacer></v-spacer>

                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      @click="deleteBook(item)"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon color="grey darken-4">mdi-delete</v-icon>
                    </v-btn>
                  </template>
                  <span>Delete</span>
                </v-tooltip>

                <v-tooltip top>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      @click="showFormForEdit(item)"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon color="grey darken-4">mdi-book-edit</v-icon>
                    </v-btn>
                  </template>
                  <span>Edit</span>
                </v-tooltip>
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense elevation="2">
                <v-list-item>
                  <v-list-item-content
                    :class="{ 'blue--text': groupBy === 'Author' }"
                  >
                    Author:
                  </v-list-item-content>
                  <v-list-item-content
                    class="d-inline"
                    :class="{ 'blue--text': groupBy === 'Author' }"
                  >
                    <span v-for="(author, index) in item.author" :key="index">
                      <span>{{ author }}</span>
                      <span v-if="index + 1 < item.author.length">, </span>
                    </span>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content
                    :class="{ 'blue--text': groupBy === 'Publication Year' }"
                  >
                    Publication Year:
                  </v-list-item-content>
                  <v-list-item-content
                    :class="{ 'blue--text': groupBy === 'Publication Year' }"
                  >
                    {{ item.publicationYear ? item.publicationYear : "none" }}
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content
                    :class="{ 'blue--text': groupBy === 'Rating' }"
                  >
                    Rating:
                  </v-list-item-content>
                  <v-list-item-content
                    :class="{ 'blue--text': groupBy === 'Rating' }"
                  >
                    <div v-if="item.rating">
                      {{ item.rating }}
                      <v-icon size="20" class="mb-1">mdi-star</v-icon>
                    </div>
                    <div v-else>
                      {{ "none" }}
                    </div>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content> ISBN: </v-list-item-content>
                  <v-list-item-content>
                    {{ item.ISBN ? item.ISBN : "none" }}
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
      </template>

      <template v-slot:footer v-if="books.length > itemsPerPage">
        <v-row class="mt-6 mr-12" align="center" justify="center">
          <span class="mr-4 grey--text">
            Page {{ page }} of {{ numberOfPages }}
          </span>
          <v-btn
            fab
            dark
            color="blue darken-3"
            class="mr-1"
            @click="formerPage"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
          <v-btn fab dark color="blue darken-3" class="ml-1" @click="nextPage">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </v-row>
      </template>
    </v-data-iterator>

    <v-dialog v-model="showForm" persistent max-width="600px">
      <v-form ref="form" v-model="valid" @submit.prevent="createBook">
        <v-card>
          <v-card-title>
            <span class="headline"
              >{{ forСreating ? "Create" : "Update" }} book</span
            >
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="formData.name"
                    :rules="[
                      (v) => !!v || 'Name is required!',
                      (v) =>
                        (v && v.length <= 50) ||
                        'The name of the book cannot be more than 50 characters',
                    ]"
                    label="Book name*"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    v-model="formData.author"
                    :rules="[
                      (v) => !!v || 'The book must have at least one author',
                    ]"
                    label="Author*"
                    required
                    hint="if there are several authors, list them separated by commas"
                    persistent-hint
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    v-model="formData.publicationYear"
                    :rules="publicationYearValidate"
                    label="Publication Year"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-rating
                    background-color="cyan lighten-2"
                    color="primary"
                    empty-icon="mdi-star-outline"
                    full-icon="mdi-star"
                    hover
                    :half-increments="$vuetify.breakpoint.xs"
                    :length="$vuetify.breakpoint.xs ? 5 : 10"
                    size="30"
                    v-model="formData.rating"
                  ></v-rating>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    v-model="formData.ISBN"
                    :rules="ISBNValidate"
                    label="ISBN"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="closeForm"> Close </v-btn>

            <v-btn color="blue darken-1" text type="submit" :loading="sending">
              {{ forСreating ? "Save" : "Update" }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      timeout="5000"
      right
      color="primary"
      class="mb-5"
    >
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import { deleteBook, updateBook, createBook } from "../firebase";

export default {
  props: ["books"],
  data() {
    return {
      search: "",
      groupDesc: false,
      page: 1,
      itemsPerPage: 5,
      groupBy: "name",
      keys: ["Name", "Author", "Publication Year", "Rating"],
      snackbar: false,
      snackbarText: "",
      showForm: false,
      forСreating: false,
      valid: true,
      formData: {
        name: "",
        publicationYear: "",
        author: "",
        rating: 0,
        ISBN: "",
      },
      sending: false,
    };
  },
  computed: {
    group() {
      if (this.groupBy === "Publication Year") return "publicationYear";
      return this.groupBy.toLowerCase();
    },
    numberOfPages() {
      return Math.ceil(this.books.length / this.itemsPerPage);
    },
    publicationYearValidate() {
      if (this.formData.publicationYear)
        return [
          (v) =>
            (v && v > 1800) || "Publication year must be greater than 1800",
          (v) =>
            (v && v <= new Date().getFullYear()) ||
            "The year of publication cannot be more than the current year",
        ];
      else return [true]; // если вернуть просто true, то в консоле будет ошибка, потому что v-text-field rules принимает массив
    },
    ISBNValidate() {
      if (!this.formData.ISBN) return;

      let sum, weight, digit, check, i;

      let str = this.formData.ISBN.replace(/[^0-9X]/gi, "");

      if (str.length != 10 && str.length != 13) {
        return [false || "ISBN is not correct"];
      }

      if (str.length == 13) {
        sum = 0;
        for (i = 0; i < 12; i++) {
          digit = parseInt(str[i]);
          if (i % 2 == 1) {
            sum += 3 * digit;
          } else {
            sum += digit;
          }
        }
        check = (10 - (sum % 10)) % 10;
        return [check == str[str.length - 1] || "ISBN is not correct"];
      }

      if (str.length == 10) {
        weight = 10;
        sum = 0;
        for (i = 0; i < 9; i++) {
          digit = parseInt(str[i]);
          sum += weight * digit;
          weight--;
        }
        check = (11 - (sum % 11)) % 11;
        if (check == 10) {
          check = "X";
        }
        return [
          check == str[str.length - 1].toUpperCase() || "ISBN is not correct",
        ];
      }
    },
  },
  methods: {
    async createBook() {
      if (this.valid) {
        if (typeof this.formData.author === "string") {
          this.formData.author = this.formData.author
            .split(",")
            .map((item) => item.trim());
        }

        this.formData.publicationYear = Number(this.formData.publicationYear);

        if (this.$vuetify.breakpoint.xs)
          this.formData.rating = this.formData.rating * 2;

        this.sending = true;

        if (this.forСreating) {
          await createBook(this.formData).then(() => {
            this.sending = false;
            this.showForm = false;
            this.$refs.form.reset();
            this.snackbar = true;
            this.snackbarText = "Book created";
          });
        } else {
          await updateBook(this.formData.id, this.formData).then(() => {
            this.sending = false;
            this.showForm = false;
            this.$refs.form.reset();
            this.snackbar = true;
            this.snackbarText = "Book updated";
          });
        }

        this.formData = {
          name: "",
          publicationYear: "",
          author: "",
          rating: 0,
          ISBN: "",
        };
      } else {
        this.$refs.form.validate();
      }
    },
    async deleteBook(book) {
      await deleteBook(book.id).then(() => {
        this.snackbar = true;
        this.snackbarText = `Book ${book.name} deleted`;
      });
    },
    showFormForEdit(book) {
      this.showForm = true;
      this.forСreating = false;
      this.formData = { ...book };
      this.formData.id = book.id
    },
    closeForm() {
      this.showForm = false;
      this.$refs.form.reset();
      this.formData = {
        name: "",
        publicationYear: "",
        author: "",
        rating: 0,
        ISBN: "",
      };
    },
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1;
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1;
    },
  },
};
</script>
