<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <v-img
        class="ml-5"
        contain
        src="../assets/books-icons.png"
        transition="scale-transition"
        width="50"
      />

      <v-toolbar-title
        class="mt-1 ml-2 text-uppercase shrink-on-scroll"
      >
        <span class="font-weight-light">Book</span>
        <span>catalog</span>
      </v-toolbar-title>
    </div>
  </v-app-bar>
</template>
