<template>
  <div v-if="recommendedBooks.length">
    <v-carousel
      cycle
      show-arrows-on-hover
      :show-arrows="recommendedBooks.length > 1"
      hide-delimiter-background
      height="370px"
    >
      <v-carousel-item v-for="book in recommendedBooks" :key="book.id">
        <v-sheet class="grey darken-3" height="100%" tile>
          <v-row class="fill-height" align="center" justify="center">
            <v-card width="410px">
              <v-card-title class="subheading font-weight-bold">
                {{ book.name }}
              </v-card-title>

              <v-divider></v-divider>

              <v-list dense>
                <v-list-item>
                  <v-list-item-content> Author: </v-list-item-content>
                  <v-list-item-content class="d-inline">
                    <span v-for="(author, index) in book.author" :key="index">
                      <span>{{ author }}</span>
                      <span v-if="index + 1 < book.author.length">, </span>
                    </span>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content> Publication Year: </v-list-item-content>
                  <v-list-item-content>
                    {{ book.publicationYear ? book.publicationYear : "none" }}
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content> Rating: </v-list-item-content>
                  <v-list-item-content>
                    <div v-if="book.rating">
                      {{ book.rating }}
                      <v-icon size="20" class="mb-1">mdi-star</v-icon>
                    </div>
                    <div v-else>
                      {{ "none" }}
                    </div>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content> ISBN: </v-list-item-content>
                  <v-list-item-content>
                    {{ book.ISBN ? book.ISBN : "none" }}
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    <v-card tile dark>
      <v-row justify="center">
        <v-card-title>Recommendations</v-card-title>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["books"],
  data: () => ({}),
  computed: {
    recommendedBooks() {
      return this.books
        .filter((book) => new Date().getFullYear() - book.publicationYear <= 3)
        .filter((book) => book.rating >= 7);
    },
  },
};
</script>
