<template>
  <div>
    <v-app>
      <Header />
      <v-main>
      <v-container fluid>
        <router-view></router-view>

      </v-container>
    </v-main>
    </v-app>
  </div>
</template>

<script>
import Header from "./components/Header";

export default {
  name: "App",

  data: () => ({
    //
  }),
  components: {
    Header,
  },
};
</script>
